@import "compass/reset";
@import "bootstrap";

@import "compass/css3";
@import "compass/typography/vertical_rhythm";

@include establish-baseline;

body {
  @include debug-vertical-alignment;
  @include padding-leader;
  @include padding-trailer;
}


#watch-1 > svg {
  @include border-radius(10%);
  margin-right: 20px;
  background-color: #000;
  stroke-width: 0;
}

#watch-2 rect {
  fill: white;
  stroke: #000;
  stroke-width: 2;
}

.hr-top {
  @include margin-leader;
}
.hr-bottom {
  @include margin-trailer;
}

@import "bootstrap-responsive";
